h1{
	color:deeppink;
	font-family:times new roman;
	text-align:center;
	border: 5px dashed darkorange;
	padding:10px;
}

h2{
	color:darkorange;
	text-align:center;
	font-family:times new roman;
	border: 5px solid dodgerblue;
	margin-left:500px;
	margin-right:500px;
	background-color:ghostwhite;
	padding:10px;
}

a:link{
	color:darkorange;
}

a:hover {
	color:orangered;
}


img{
	display:block;
	margin:0 auto;
	text-align:center;
	border: 5px dashed deeppink;
	width:25%;
	height:25%;
}

p{
	padding:10px;
	text-align:center;
}

body{
	background-color: palegoldenrod;
	text-align:center;
}
